<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<appSettings>
		
		<!--Parâmetros de configurações (Globais)-->
		<add key="browser" value="Chrome"/>
		<add key="url_base" value="https://www.saucedemo.com/"/>
		
		<!--Parâmetros da aplicação (Locais)-->
		<add key="password" value="secret_sauce"/>
		<add key="email_standard" value="standard_user"/>
		<add key="email_locked" value="locked_out_user"/>
		<add key="email_problem" value="problem_user"/>
	
	</appSettings>

</configuration>